<div>
    <h1 class="text-center">Welcome</h1>
    <h5 class="text-center">Twitch Light Alerts</h5>
    <p class="text-justify">This tool is supposed to give you "live" Light Alerts for Twitch.</p>
    <p class="text-justify">You still need to connect this tool with some third Party application (like Streamlabs or Tipeee Stream) to make a synchronous alert together with your overlays possible.</p>
    <p class="text-justify">Future plans are to provide more LED Bulb types (currently only LIFX) and more Alert Providers (if needed).</p>

    <div class="bottom">
        <h6 class="text-center">Powered by <a href="#" onclick="openExternal('')">Shockwave2k</a></h6>
        <h6 class="text-center">Watch on <a href="#" onclick="openExternal('https://www.twitch.tv/shockwave2k')">Twitch</a></h6>
        <h6 class="text-center">Need Help? Please use <a href="#" onclick="openExternal('https://github.com/Shockwave2k/twitch-light-alerts/issues')">GitHub</a></h6>
    </div>
</div>